@import '../../_variables';

$font-stack-for-links: 'Kirang Haerang', cursive;

.block {
    min-height: 100%;
    cursor: pointer;
}

.left-block {
    background: $background_for_exams;
    background-size: cover;
}

.right-block {
    background: $background_for_learners;
    background-size: cover;

}

.left-text, .right-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: $font-stack-for-links;
    font-size: 4vw;
    font-weight: 1000;
}

.left-text {
    color: white;
}

@media (max-width: 992px) {
        .row {
            .col-lg-6 {
                min-height: 50%;
            }
        }
    .block {
        min-height: 50%;
    }
}