<div class="headtitle">
    <h1 class="d-inline">What do you want to do today?</h1>
</div>
<div class="container-fluid min-vh-100">
    <div class="row justify-content-center min-vh-100">

        <div class="col-lg-6 block left-block text-center" routerLink="/exam">
            <div class="left-text">Seat an exam</div>
        </div>
        <div class="col-lg-6 block right-block text-center" (click)="goToLearn()">
            <div class="right-text">Learn</div>
        </div>
    </div>
</div>
<app-footer class="footer"></app-footer>