.headtitle {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;

    h1 {
        background: -webkit-linear-gradient(to left, black 40%, white 60%);
        background: -o-linear-gradient(to left, black 40%, white 60%);
        background: -moz-linear-gradient(to left, black 40%, white 60%);
         background: linear-gradient(to left, black 40%, white 60%); 
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: Indie Flower, cursive;
        font-size: 3.5vw;
        font-weight: 1000;
        display: inline;
    }
}
@media (max-width: 992px) {
    .headtitle {
        h1 {
            background: none;
            color : white;
            -webkit-text-fill-color: white;
            z-index: 1;
        }
    }
}
